/* Styles for the title of each movie row */
.row__title {
  padding-left: 20px; /* Adds padding on the left for some spacing from the edge */
}

/* Styles for the container of each row */
.row {
  color: #fff; /* Sets text color to white */
  background-color: #000; /* Sets background color to black */
  /* margin-left: 20px; */ /* Uncomment if margin is needed */
}

/* Container for the movie posters within a row */
.row__posters {
  display: flex; /* Layout posters in a horizontal line */
  overflow-y: hidden; /* Hide vertical overflow */
  overflow-x: scroll; /* Enable horizontal scrolling */
  padding: 20px; /* Padding around the posters */
}

/* Hide the scrollbar for a cleaner look */
.row__posters::-webkit-scrollbar {
  display: none;
}

/* Basic style for each poster */
.row__poster {
  max-height: 100px; /* Limit the height of posters */
  object-fit: contain; /* Ensure images are scaled correctly without being cropped */
  margin-right: 10px; /* Space between posters */
  width: 100%; /* Ensures the poster takes full width of its container */
  transition: transform 450ms; /* Smooth transition for scaling on hover */
}

/* Hover effect for posters */
.row__poster:hover {
  transform: scale(1.08); /* Slightly enlarge the poster */
  opacity: 1; /* Ensure the poster is fully opaque */
}

/* Additional styles for larger posters */
.row__posterLarge {
  max-height: 250px; /* Increased height for larger posters */
}

/* Hover effect for larger posters */
.row__posterLarge:hover {
  transform: scale(1.09); /* Slightly larger scale effect for large posters */
  opacity: 1; /* Ensure the poster is fully opaque */
}


